@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  /* База */
  --white-color: #ffffff;
  /* Задники */
  --hero-bg-color: #c4c4c4;
  --important-background-color: #2f303a;
  --odd-section-background-color: #f5f4fa;
  --inactive-background-color: #f5f4fa;
  --main-bg-color: var(--white-color);
  /* Лого */
  --logo-bottom: var(--white-color);
  --logo-top: #000000;
  --logo-color: #2196f3;
  --icon-inactive: #afb1b8;
  /* Текст */
  --main-text-color: #212121;
  --regular-text-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-link-color: #212121;
  --pointer: #2196f3;
  /* Значки */
  --social-links-footer: var(--white-color);
  --social-links-pointer: var(--white-color);
  --common-font-size: 16px;
  --letter-spreding-for-headers: 0.06em;
  --standard-width: 270px;
  --standard-margin: 30px;
  --margin-header: 50px;
  --vertical-distance: 94px;
  --common-margin-top: 50px;
  --site-width: 1200px;
  --standard-reaction-time: 250ms;
  --standard-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* глобальные значения */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
}

.hidden {
  /* display: none; */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

/* Общие элементы страниц */
/* Головняк */
header {
  background-color: var(--main-bg-color);
  letter-spacing: 0.02em;
  border: 1px solid #ececec;
}

nav .current {
  color: var(--pointer);
}

nav .current-page::after {
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color);
}

nav {
  font-weight: 500;
}

/* делаем красивое лого */
.logo {
  text-decoration: none;
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

header .logo {
  padding: 24px 0 25px 0;
  margin: auto 0;
}

.logotop {
  color: var(--logo-top);
}

.logobot {
  color: var(--logo-bottom);
}

.header-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.header-element.navigation.list {
  margin-left: 93px;
}

.header-element.navigation.list li {
  position: relative;
}

.header-link {
  font-weight: 500;
  color: var(--main-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.studio-link {
  margin: auto 0;
  margin-left: 0;
}

.portfolio-link {
  margin: auto 0;
  margin-left: var(--margin-header);
}

.contacts-link {
  margin: auto 0;
  margin-left: var(--margin-header);
}

.header-mail .header-link {
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--regular-text-color);
  fill: currentColor;
}

.header-tel .header-link {
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  fill: var(--regular-text-color);
  fill: currentColor;
}

.header-contacts-icon {
  display: block;
  height: 16px;
  width: 16px;
  margin: auto 10px;
  margin-left: 0;
}

.contacts.header-element {
  margin-left: auto;
  margin-right: 15px;
}

/* Подвал */
footer {
  background-color: var(--important-background-color);
  padding: 60px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer ul {
  margin-top: 9px;
}

.footer-contacts li + li {
  margin-top: 9px;
}

.footer-contacts {
  line-height: 1.71;
}

footer a {
  color: var(--footer-link-color);
  text-decoration: none;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.footer-address {
  margin-top: 20px;
  line-height: 1.71;
}

.footer-social {
  margin-left: 74px;
}

.footer-social-header {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white-color);
}

/* заставляем адрес выглядеть правильно */
footer address {
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--white-color);
  font-style: normal;
}

.social-nets-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.social-nets-logos .social-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.social-nets-logos li {
  margin-right: 10px;
}

.social-nets-logos li:last-child {
  margin-right: 0;
}

/* соцсети футера */
.footer-social .social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social .social-icon-item {
  width: 20px;
  height: 20px;
}

.footer-social .social-icon {
  fill: var(--social-links-footer);
}

.social-nets-logos .social-icon:hover,
.social-nets-logos .social-icon:focus {
  background-color: var(--pointer);
}

.footer-subscription {
  margin-left: 93px;
}

.subscription-form-text {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-subscription input {
  top: -2px;
  width: 358px;
  padding: 16px 16px;
  margin: 0;
  background-color: var(--important-background-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

button[name='subscription'] {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 7px;
  border-radius: 4px;
  padding-right: 33px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--pointer);
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-send-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}

/* Конец подвала */
.container {
  width: var(--site-width);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: var(--letter-spreding-for-headers);
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
}

/* управляем внешностью списков */
.list {
  list-style: none;
}

/* управляем внешностью ссылок */
.contacts a {
  color: var(--regular-text-color);
  text-decoration: none;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

/* позиционирование над элементом */
a:hover,
a:focus {
  color: var(--pointer);
}

/* кнопки */
.button {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
}

button[type='button'] {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--common-font-size);
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 0;
  -webkit-transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.button.primary {
  display: block;
  color: var(--white-color);
  background-color: var(--pointer);
  font-weight: bold;
  font-size: var(--common-font-size);
  line-height: 1.87;
  letter-spacing: var(--letter-spreding-for-headers);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  margin: var(--standard-margin) auto 0 auto;
}

button.inactive {
  color: var(--main-text-color);
  background-color: var(--inactive-background-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Элементы индекса */
.banner {
  background-color: var(--hero-bg-color);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-image.jpg);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.banner .container {
  width: 696px;
}

.banner.main-index-element {
  padding: 200px 0;
  margin: 0 auto;
}

.advantages {
  padding-top: var(--vertical-distance);
  padding-bottom: var(--vertical-distance);
}

.advantages-cutebox {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--inactive-background-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages-icon {
  height: 70px;
  width: 70px;
}

.advantages p {
  margin-top: 10px;
  color: var(--regular-text-color);
  line-height: 1.71;
}

.advantages-list h3 {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: var(--common-font-size);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

.advantages-list-item {
  margin-left: var(--standard-margin);
}

.advantages-list-item:first-child {
  margin-left: 0;
}

.abought-work {
  padding-bottom: var(--vertical-distance);
}

.worklist-container {
  width: var(--site-width);
  padding: 0 15px;
  margin: 0 auto;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: var(--common-margin-top);
}

.work-list li {
  margin-left: var(--standard-margin);
  position: relative;
}

.work-list img {
  display: block;
  width: 370px;
}

.work-list li:first-child {
  margin-left: 0;
}

.worklist-underscription-div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.worklist-underscription {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.team {
  padding: var(--vertical-distance) 0 0 0;
  min-width: var(--site-width);
  padding-bottom: var(--vertical-distance);
  background-color: var(--odd-section-background-color);
}

.team-list {
  margin-top: var(--common-margin-top);
}

.team .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-list > li {
  margin-left: var(--standard-margin);
  background-color: #ffffff;
  width: var(--standard-width);
}

.team li:first-child {
  margin-left: 0;
}

.team img {
  width: var(--standard-width);
}

.team .team-container {
  width: var(--standard-width);
  padding: 30px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team p,
.team h3 {
  margin: 0 auto;
}

.team p {
  margin-top: 10px;
  color: var(--regular-text-color);
}

.advantages-list,
.team-list {
  margin-left: auto;
  margin-right: auto;
}

.advantages-list-item,
.team-member {
  display: inline-block;
  width: var(--standard-width);
}

.team-member {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-social-container {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-social-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-social-container li {
  margin-left: 10px;
}

.team-social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--icon-inactive);
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.team-social-icon {
  width: 20px;
  height: 20px;
}

.team-social-item:hover,
.team-social-item:focus {
  background-color: var(--pointer);
  color: var(--social-links-pointer);
}

/* Клиенты */
.our-clients .section-title {
  margin-top: var(--vertical-distance);
}

.client-list {
  margin-top: var(--common-margin-top);
  margin-bottom: var(--vertical-distance);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-list .clients-link {
  display: block;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-inactive);
  border-radius: 4px;
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier), border-color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier), border-color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.client-list li + li {
  margin-left: var(--standard-margin);
}

.client-one .client-icon {
  width: 44.27px;
  height: 90px;
}

.client-two .client-icon {
  width: 40px;
  height: 90px;
}

.client-three .client-icon {
  width: 41px;
  height: 90px;
}

.client-four .client-icon {
  width: 79.66px;
  height: 90px;
}

.client-five .client-icon {
  width: 59px;
  height: 90px;
}

.client-six .client-icon {
  width: 88.48px;
  height: 90px;
}

.client-list .clients-link:visited {
  color: var(--icon-inactive);
}

.client-list .clients-link:hover,
.client-list .clients-link:focus {
  color: var(--pointer);
  border-color: var(--pointer);
}

/* Стили для модалки*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: opacity var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--main-bg-color);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: visibility var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-transform var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: visibility var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-transform var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: transform var(--standard-reaction-time) var(--standard-cubic-bezier), visibility var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: transform var(--standard-reaction-time) var(--standard-cubic-bezier), visibility var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-transform var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
  fill: currentColor;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: var(--pointer);
}

.modal-close-button-cros {
  width: 11px;
  height: 11px;
  position: relative;
  top: 1px;
}

.modal-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--header-link-color);
}

.modal .first-modal-header {
  margin-top: 12px;
}

.modal .header-label {
  position: absolute;
  bottom: 44px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--regular-text-color);
}

.name-for-callback {
  margin-top: 30px;
}

.comment-for-callback {
  margin-top: 28px;
}

.modal-container {
  position: relative;
  width: 448px;
  height: 40px;
  fill: var(--header-link-color);
  fill: currentColor;
}

.modal-container-comment {
  position: relative;
  width: 448px;
  height: 120px;
  fill: var(--header-link-color);
  fill: currentColor;
}

.name-for-callback + .tel-for-callback {
  margin-top: 28px;
}

.tel-for-callback + .email-for-callback {
  margin-top: 28px;
}

.modal-person {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 12px;
  cursor: pointer;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal-tel {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 13px;
  cursor: pointer;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal-mail {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 12px;
  cursor: pointer;
  -webkit-transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: color var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal-container:focus-within {
  color: var(--pointer);
}

.modal input {
  padding: 11px 42px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: border var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal textarea {
  -webkit-transition: border var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: border var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.modal input:hover,
.modal input:focus,
.modal textarea:focus,
.modal textarea:hover {
  border: 1px solid var(--pointer);
}

.header-for-comment {
  position: absolute;
  top: -18px;
}

.modal textarea {
  width: 448px;
  height: 120px;
  padding: 11px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}

.modal textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.acceptence {
  position: relative;
}

.terms-of-use-checkbox {
  position: relative;
  cursor: pointer;
}

.terms-of-use {
  position: absolute;
  top: 19px;
  margin-left: 36px;
  width: 400.18px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--regular-text-color);
}

.modal a,
.modal a:visited {
  color: var(--pointer);
}

.checkbox-visual::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 13px;
  width: 12px;
  height: 12px;
  -webkit-box-shadow: 0 0 0 0.13em var(--main-text-color);
          box-shadow: 0 0 0 0.13em var(--main-text-color);
  border-radius: 0.2px;
  background-color: var(--white-color);
  -webkit-transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.terms-checkbox:checked + .checkbox-visual::before {
  background-color: var(--main-text-color);
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.terms-checkbox:focus + .checkbox-visual::before,
.terms-of-use-checkbox:hover .checkbox-visual::before {
  background-color: var(--white-color);
  -webkit-box-shadow: 0 0 0 0.13em var(--pointer);
          box-shadow: 0 0 0 0.13em var(--pointer);
}

.terms-checkbox:checked:focus + .checkbox-visual::before,
.terms-of-use-checkbox:hover
.terms-checkbox:checked
+ .checkbox-visual::before {
  background-color: var(--pointer);
  -webkit-box-shadow: 0 0 0 0.13em var(--pointer);
          box-shadow: 0 0 0 0.13em var(--pointer);
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-submit-btn {
  display: inline-block;
  padding: 10px 55.5px;
  background: var(--pointer);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

/* Элементы портфолио */
.portfolio-main {
  padding-bottom: var(--vertical-distance);
}

.filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc(100% / 5 - 10px);
      flex-basis: calc(100% / 5 - 10px);
  margin-top: var(--vertical-distance);
  margin-left: -8px;
}

.filtres li {
  margin-left: 8px;
}

.filtres li:first-child {
  margin-left: 0;
}

.checkbox-hide {
  position: absolute;
  widows: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filters {
  margin-top: var(--vertical-distance);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters li + li {
  margin-left: 8px;
}

.works-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--common-font-size);
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 0;
  padding: 10.5px 22px;
  cursor: pointer;
  background-color: var(--odd-section-background-color);
  -webkit-transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: background-color var(--standard-reaction-time) var(--standard-cubic-bezier), color var(--standard-reaction-time) var(--standard-cubic-bezier), box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.checkbox-portfolio:checked + .works-filter {
  background-color: var(--pointer);
  color: var(--white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-filter:hover,
.works-filter:focus {
  background-color: var(--pointer);
  color: var(--white-color);
  border-radius: 4px;
  border: 0 solid #ffffff;
  padding: 10.5px 22px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container .portfolio-innerheit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.portfolio-item {
  margin-left: var(--standard-margin);
  margin-top: var(--standard-margin);
  -ms-flex-preferred-size: calc(100% / 3 - var(--standard-margin));
      flex-basis: calc(100% / 3 - var(--standard-margin));
  border: 1px solid #eeeeee;
  width: 370px;
}

.portfolio-item-link {
  display: block;
  width: 100%;
  -webkit-transition: -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-box-shadow var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.portfolio-item:first-child {
  margin-left: 0;
}

/* чистим все левые элементы от левого падинга */
.portfolio-item:nth-child(3n -2) {
  margin-left: 0;
}

.portfolio-item .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 24px;
  width: 370px;
}

.portfolio-innerheit a:visited {
  text-decoration: none;
  color: var(--main-text-color);
}

.portfolio-innerheit h3 {
  letter-spacing: var(--letter-spreding-for-headers);
}

.portfolio-innerheit p {
  color: var(--regular-text-color);
  font-size: var(--common-font-size);
  line-height: 1.87;
}

.portfolio-innerheit h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--letter-spreding-for-headers);
}

.portfolio-innerheit a {
  text-decoration: none;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-image {
  position: relative;
  widows: 370px;
  height: 294px;
  margin-left: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.portfolio-item-link:focus .portfolio-image-description,
.portfolio-item-link:hover .portfolio-image-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-image-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: -webkit-transform var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: transform var(--standard-reaction-time) var(--standard-cubic-bezier);
  transition: transform var(--standard-reaction-time) var(--standard-cubic-bezier), -webkit-transform var(--standard-reaction-time) var(--standard-cubic-bezier);
}

.portfolio-description-innerheit {
  position: absolute;
  top: 50%;
  left: 13%;
  -webkit-transform: translate(-7%, -50%);
          transform: translate(-7%, -50%);
}
/*# sourceMappingURL=main.css.map */