.our-clients .section-title {
  margin-top: $vertical-distance;
}

.client-list {
  margin-top: $common-margin-top;
  margin-bottom: $vertical-distance;

  display: flex;
  .clients-link {
    display: block;
    width: 170px;
    height: 90px;
    border: 1px solid $icon-inactive;
    border-radius: 4px;
    fill: currentColor;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color $standard-reaction-time $standard-cubic-bezier,
      border-color $standard-reaction-time $standard-cubic-bezier;
  }
  .clients-link:visited {
    color: $icon-inactive;
  }

  .clients-link:hover,
  .clients-link:focus {
    color: $pointer;
    border-color: $pointer;
  }
}

.client-list li + li {
  margin-left: $standard-margin;
}

.client-one .client-icon {
  width: 44.27px;
  height: 90px;
}

.client-two .client-icon {
  width: 40px;
  height: 90px;
}

.client-three .client-icon {
  width: 41px;
  height: 90px;
}

.client-four .client-icon {
  width: 79.66px;
  height: 90px;
}

.client-five .client-icon {
  width: 59px;
  height: 90px;
}

.client-six .client-icon {
  width: 88.48px;
  height: 90px;
}
