.advantages {
  padding-top: $vertical-distance;
  padding-bottom: $vertical-distance;
  @media screen and (min-width: $desktop-width) {
    padding-top: $desktop-paddings;
    padding-bottom: $desktop-paddings;
  }

  p {
    margin-top: $advantages-p-margin;
    color: $regular-text-color;
    line-height: 1.71;
  }
}

.advantages-list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .advantages-list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    @media screen and (min-width: $desktop-width) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }
}

.advantages-box {
  width: $advantages-box-width;
  height: $advantages-box-heights;
  border-radius: $advantages-box-radius;
  background-color: $inactive-background-color;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $tablet-width),
    screen and (max-width: $desktop-width) {
    width: $advantages-width-for-tablet;
  }
  @media screen and (min-width: $desktop-width) {
    width: $advantages-width-for-desktop;
  }
}

.advantages-icon {
  height: $advantages-icon-size;
  width: $advantages-icon-size;
}

.advantages-list-header {
  color: $main-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;

  margin-top: 30px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}

.advantages-list-item:not(:last-child) {
  margin-bottom: 30px;
  @media screen and (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}
