.banner {
  padding: 118px 60px;

  background-color: $hero-bg-color;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg/background-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2) {
    background-color: $hero-bg-color;
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/phone-header-x2.jpg);
  }

  @media screen and (min-width: $tablet-width),
    screen and (max-width: $desktop-width) {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/background-image-tablet.jpg);
    background-size: 768px 400px;
  }
  @media screen and (min-width: $tablet-width),
    screen and (max-width: $desktop-width),
    screen and (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/tablet-header-x2.jpg);
  }

  @media screen and (min-width: $desktop-width) {
    background-image: linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/bg/background-image.jpg);
    @media screen and (min-width: $desktop-width),
      screen and (min-device-pixel-ratio: 2) {
      background-image: linear-gradient(
          0deg,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/bg/desktop-header-x2.jpg);
    }
  }
}

.main-title {
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: $letter-spreding-for-headers;
  text-transform: uppercase;
  color: $white-color;
  width: 360px;
  margin-right: auto;
  margin-left: auto;
}

.order-button {
  display: block;

  color: $white-color;
  background-color: $sky-color;
  border-radius: $border-radius-for-button;
  border: 0;

  font-weight: bold;
  font-size: $common-font-size;
  line-height: 1.87;
  letter-spacing: $letter-spreding-for-headers;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  margin: $standard-margin auto 0 auto;
}
