.banner {
  background-color: $hero-bg-color;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  .container {
    width: 696px;
  }
}

.banner-main-index-element {
  padding: 186.5px 0;
  margin: 0 auto;
}
