.banner {
  background-color: $hero-bg-color;
  background-image: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-image-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding: 118px 60px;
}

.main-title {
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: $letter-spreding-for-headers;
  text-transform: uppercase;
  color: $white-color;
  width: 360px;
}

.order-button {
  display: block;

  color: $white-color;
  background-color: $sky-color;
  border-radius: $border-radius-for-button;
  border: 0;

  font-weight: bold;
  font-size: $common-font-size;
  line-height: 1.87;
  letter-spacing: $letter-spreding-for-headers;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  margin: $standard-margin auto 0 auto;
}
