.mob-position {
  position: absolute;
  top: 0;

  width: 480px;
  height: 796px;

  @include centring-x;

  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.is-upped {
  top: -140%;
}

.nav-menu {
  position: relative;

  padding: 48px 40px;

  background-color: $main-bg-color;

  a {
    text-decoration: none;
  }
}

.menu-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;

  width: 40px;
  height: 40px;
  border: 0;
  background-color: $main-bg-color;

  fill: currentColor;
  transition: color $standard-transition-options;
  &:hover,
  &:focus {
    color: $pointer;
  }
}

.menu-close-button-cros {
  width: 19px;
  height: 19px;

  position: relative;
  top: 1px;
}

.drop-menu-site-nav {
  margin-bottom: 302px;
  .drop-menu-studio-link,
  .drop-menu-protfolio-link,
  .drop-menu-contacts-link {
    @include drop-moble-menu-text-regular-font-settings;
  }
  .drop-menu-studio-link {
    margin-bottom: 35.71px;
  }

  .drop-menu-protfolio-link {
    margin-bottom: 32px;
  }

  a:visited {
    color: $main-text-color;
  }
  a.current {
    color: $pointer;
  }
}

.drop-menu-contacts {
  margin-bottom: 64px;

  .drop-menu-tel-link {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;

    color: $pointer;

    margin-bottom: 32px;
  }
  .drop-menu-mail-link {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: $regular-text-color;
  }
}

.drop-menu-site-social {
  display: flex;

  li {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  li:first-child {
    padding-left: 0;
    border-left: 0;
  }
  li:last-child {
    padding-right: 0;
  }

  .instagram-menu-link,
  .twitter-menu-link,
  .facebook-menu-link,
  .linkedin-menu-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $pointer;
  }
}
