.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $standard-reaction-time $standard-cubic-bezier;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: $main-bg-color;

  transform: translate(-50%, -50%);
  transition: transform $standard-reaction-time $standard-cubic-bezier,
    visibility $standard-reaction-time $standard-cubic-bezier;
  .first-modal-header {
    margin-top: 12px;
  }
  .header-label {
    position: absolute;
    bottom: 44px;

    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $regular-text-color;
  }
  input {
    padding: 11px 42px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border $standard-reaction-time $standard-cubic-bezier;
  }
  textarea {
    transition: border $standard-reaction-time $standard-cubic-bezier;
  }
  textarea {
    width: 448px;
    height: 120px;
    padding: 11px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);

    resize: none;
  }
  textarea:hover {
    border: 1px solid $pointer;
  }

  textarea:focus {
    border: 1px solid $pointer;
  }

  textarea::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  input:focus {
    border: 1px solid $pointer;
  }
  input:hover {
    border: 1px solid $pointer;
  }

  a,
  a:visited {
    color: $pointer;
  }
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: $white-color;

  cursor: pointer;

  fill: currentColor;
  transition: color $standard-reaction-time $standard-cubic-bezier;
  &:hover,
  &:focus {
    color: $pointer;
  }
}

.modal-close-button-cros {
  width: 11px;
  height: 11px;

  position: relative;
  top: 1px;
}

.modal-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $header-link-color;
}

.name-for-callback {
  margin-top: 30px;
  + .tel-for-callback {
    margin-top: 28px;
  }
}

.comment-for-callback {
  margin-top: 28px;
}

.modal-container {
  position: relative;

  width: 448px;
  height: 40px;

  fill: $header-link-color;
  fill: currentColor;
}

.modal-container-comment {
  position: relative;

  width: 448px;
  height: 120px;

  fill: $header-link-color;
  fill: currentColor;
}

.tel-for-callback + .email-for-callback {
  margin-top: 28px;
}

.modal-person {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  width: 12px;
  height: 12px;

  cursor: pointer;

  transition: color $standard-reaction-time $standard-cubic-bezier;
}

.modal-tel {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  width: 13px;
  height: 13px;

  cursor: pointer;

  transition: color $standard-reaction-time $standard-cubic-bezier;
}

.modal-mail {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  width: 15px;
  height: 12px;

  cursor: pointer;

  transition: color $standard-reaction-time $standard-cubic-bezier;
}

.modal-container:focus-within {
  color: $pointer;
}

.header-for-comment {
  position: absolute;
  top: -18px;
}

.acceptence {
  position: relative;
}

.terms-of-use-checkbox {
  position: relative;
  cursor: pointer;
}

.terms-of-use {
  position: absolute;
  top: 19px;
  margin-left: 36px;
  width: 400.18px;
  font-size: 14px;
  line-height: 1.71;
  color: $regular-text-color;
}

.checkbox-visual::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 13px;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 0 0.13em $main-text-color;
  border-radius: 0.2px;
  background-color: $white-color;

  transition: background-color $standard-reaction-time $standard-cubic-bezier,
    box-shadow $standard-reaction-time $standard-cubic-bezier;
}

.terms-checkbox:checked + .checkbox-visual::before {
  background-color: $main-text-color;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.terms-checkbox:focus + .checkbox-visual::before,
.terms-of-use-checkbox:hover .checkbox-visual::before {
  background-color: $white-color;
  box-shadow: 0 0 0 0.13em $pointer;
}

.terms-checkbox:checked:focus + .checkbox-visual::before,
.terms-of-use-checkbox:hover
  .terms-checkbox:checked
  + .checkbox-visual::before {
  background-color: $pointer;
  box-shadow: 0 0 0 0.13em $pointer;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-submit-btn {
  display: inline-block;
  padding: 10px 55.5px;
  background: $pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;

  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
