.portfolio-innerheit-div {
  margin-top: 40px;
}

.portfolio-innerheit {
  display: flex;
  flex-wrap: wrap;

  li + li {
    margin-top: 30px;
  }
  h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: $letter-spreding-for-headers;
  }
  p {
    color: $regular-text-color;
    font-size: $common-font-size;
    line-height: 1.87;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: $main-text-color;
  }
}

.portfolio-item {
  width: $standard-card-width;
}

.portfolio-item-link {
  display: block;
  width: 100%;

  border: 1px solid $portfolio-card-border-color;

  transition: box-shadow $standard-transition-options,
    border-color $standard-transition-options;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-color: $pointer;
  }
}

.portfolio-card {
  padding: 20px 24px;
  h3 + p {
    margin-top: 4px;
  }
}

.portfolio-image {
  position: relative;
  width: 100%;
  height: 294px;
  margin-left: 0;
  margin-bottom: 0;

  overflow: hidden;
}

.portfolio-image-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: $white-color;

  transform: translatey(101%);
  transition: transform $standard-transition-options;
}

.portfolio-item-link:focus .portfolio-image-description,
.portfolio-item-link:hover .portfolio-image-description {
  transform: translateY(0);
}

.portfolio-description-innerheit {
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-7%, -50%);
}
