html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  //   background-color: $main-bg-color;
  //   color: $main-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
}

.hidden {
  /* display: none; */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.list {
  list-style: none;
}

a:hover,
a:focus {
  color: $pointer;
}

.container {
  width: $mobile-width;
  padding-left: $common-site-horizontal-paddings;
  padding-right: $common-site-horizontal-paddings;
  margin: auto;
}

.button {
  color: $main-text-color;
  background-color: $main-bg-color;
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  transition: background-color $standard-transition-options,
    color $standard-transition-options, box-shadow $standard-transition-options;
}

button {
  &[type='button'] {
    text-align: center;

    transition: background-color $standard-transition-options,
      color $standard-transition-options,
      box-shadow $standard-transition-options;
  }
  &.inactive {
    color: $main-text-color;
    background-color: $inactive-background-color;
  }
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.checkbox-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.not-for-mobile {
  display: none;
}
