html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* глобальные значения */

body {
  background-color: $main-bg-color;
  color: $main-text-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 0;
}

.hidden {
  /* display: none; */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: 1px;
}

.list {
  list-style: none;
}

a:hover,
a:focus {
  color: $pointer;
}

.container {
  width: $site-width;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.button {
  color: $main-text-color;
  background-color: $main-bg-color;
  border-radius: 4px;
  border: 0;
  cursor: pointer;

  transition: background-color $standard-reaction-time $standard-cubic-bezier,
    color $standard-reaction-time $standard-cubic-bezier,
    box-shadow $standard-reaction-time $standard-cubic-bezier;
}

button[type='button'] {
  font-family: inherit;
  font-weight: 500;
  font-size: $common-font-size;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 0;

  transition: background-color $standard-reaction-time $standard-cubic-bezier,
    color $standard-reaction-time $standard-cubic-bezier,
    box-shadow $standard-reaction-time $standard-cubic-bezier;
}

.button.primary {
  display: block;

  color: $white-color;
  background-color: $pointer;
  font-weight: bold;
  font-size: $common-font-size;
  line-height: 1.87;
  letter-spacing: $letter-spreding-for-headers;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  margin: $standard-margin auto;
}

button.inactive {
  color: $main-text-color;
  background-color: $inactive-background-color;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: $letter-spreding-for-headers;
  text-transform: uppercase;
  color: $white-color;
  width: 696px;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
